<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.ttvp.visuallifeconfigurator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.SavedMapsActivity"
            android:label="@string/title_activity_saved_maps"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".view.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.CellEditionActivity" />
        <activity android:name=".view.ChooseNeighbor">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->


            <!-- android:parentActivityName="" -->
        </activity>
        <activity
            android:name=".view.Home.AutomataHome"
            android:label="@string/title_activity_automata_home"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.ttvp.visuallifeconfigurator.view.MainActivity" />
        </activity>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>