<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.ttvp.visuallifeconfigurator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.Activities.MapPlayingActivity"
            android:label="@string/title_activity_map_playing"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.Activities.SavedMapsActivity"
            android:label="@string/title_activity_saved_maps"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.Activities.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.Activities.CellEditionActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.Activities.ChooseNeighborActivity"></activity>
        <activity
            android:name=".view.Home.AutomataHome"
            android:label="@string/title_activity_automata_home"
            android:parentActivityName=".view.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.ttvp.visuallifeconfigurator.view.Activities.MainActivity" />
        </activity>
        <activity android:name=".view.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>